div>p{
    background-color:yellow;
}

section>div+p{
    color:red;
}

h1~p{
    background-color: hotpink;
}

section>p::first-letter{
    font-weight: bold;
}

main>p::first-line{
    color:navy;
}

section>h1::before{
    content: "Before Heading";
}

section>h1::after{
    content: "After heading";
}

#a::marker{
    color: darkgoldenrod;
}
section>main>p::selection{
    color: black;
}
section>p,div,span{
    color: red;
}
#one::marker{
    content: "🥭";
}
#two::marker{
    content: "🍎";
}
#three::marker{
    content: "🍉";
}
#four::marker{
    content: "🍊";
}
#five::marker{
    content: "🍒";
}
#six::marker{
    content: "🍌";
}
#seven::marker{
    content: "🍇";
}

#list:nth-child(1){
    background-color:saddlebrown;
}

section>main>p:nth-child(even){
    color:green;
}
li:last-child{
    color:pink;
}
li:first-child{
    background:black;
    color: white;
}
a:hover{
    transform: scale(1.3);
}
a:visited{
    color:brown;
}
a:active{
    color:darkkhaki;
}

button{
    height:50px;
    width:80px;
    background-color:red;
}
button:hover{
    background-color: saddlebrown;
}



#specialDiv>h3{
    color: khaki;
}