p::first-letter{
    font-size:70px;
}

p::first-line{
    color: blue;
}

p::selection{
    background-color:yellow;
}

p::before{
    content: "Ooooooooooooooooooooooooooooooooooooooooo";
}
P::after{
    content: "Oooooooooooooooooooooooooooooooooooooooooooo";
}
#one::marker{
    content: "🥭";
}
#two::marker{
    content: "🍎";
}
#three::marker{
    content: "🍉";
}
#four::marker{
    content: "🍊";
}
#five::marker{
    content: "🍒";
}
#six::marker{
    content: "🍌";
}
#seven::marker{
    content: "🍇";
}
